{% block body %}
<div class="container">
    <div class="container-popup">
        <div class="popup">
            <h2>Criar conta</h2>

            <form method="POST">
                {{ form.csrf_token }}

                {{ form.email.label() }}
                {{ form.email(class="input") }}

                {{ form.username.label() }}
                {{ form.username(class="input") }}

                {{ form.senha.label() }}
                {{ form.senha(class="input") }}

                {{ form.confirmacao_senha.label() }}
                {{ form.confirmacao_senha(class="input") }}

                {{ form.botao_confirmacao(class="botao-login") }}
            </form>
                {% for erro in form.confirmacao_senha.errors %}
                        <p style="color: red;">{{ erro }}</p>
                {% endfor %}

            <a href="{{ url_for('homepage') }}">
                Já tem uma conta? Faça login
            </a>
        </div>
    </div>
</div>
{% endblock %}