<div class="pagina-cadastro"> 
{% extends "base.html" %}

{% block titulo %}
Criar Conta
{% endblock %}

{% block body %}

<div class="container">

    <img class="bg-imagem-pinterest"
         src="{{ url_for('static', filename='img/fundo-login.png') }}">

    <div class="container-popup">

        <div class="popup">

            <h2>Criar Conta</h2>

            <form method="POST">

                {{ form.csrf_token }}

                <div class="div-input">
                    <div class="label">{{ form.email.label }}</div>
                    {{ form.email(class="input") }}
                </div>

                <div class="div-input">
                    <div class="label">{{ form.username.label }}</div>
                    {{ form.username(class="input") }}
                </div>

                <div class="div-input">
                    <div class="label">{{ form.senha.label }}</div>
                    {{ form.senha(class="input") }}
                </div>

                <div class="div-input">
                    <div class="label">{{ form.confirmacao_senha.label }}</div>
                    {{ form.confirmacao_senha(class="input") }}
                </div>

                <div class="div-botao">
                    {{ form.botao_confirmacao(class="botao-login") }}

                    <a href="{{ url_for('homepage') }}" class="link-login">
                        Já possui uma conta? Faça login
                    </a>
                </div>

            </form>

        </div>

    </div>

</div>

{% endblock %}
</div>